# Run 'pwgen -N 1 -s 55' to generate this secret:
GRAYLOG_PASSWORD_SECRET=jZkZV4ZCEQOJXiBDHiIp9QamkW1I9tkGlu65U5tnGn7ZeZJRGXtLVSj

# Run 'echo -n "P@ssw0rd" | sha256sum' to generate this SHA2 value:
GRAYLOG_ROOT_PASSWORD_SHA2=b03ddf3ca2e714a6548e7495e2a03f5e824eaac9837cd7f159c67b90fb4b7342

# Ensure this URI will be reachable from your browser:
GRAYLOG_HTTP_EXTERNAL_URI=http://localhost:9000/
